@import './reset.css';

* {
  box-sizing: border-box;
}

body, button, input {
  font-family: 'Krona One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  width: 100vw;
  height: 100vh;
}
